<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextage.web.mapper.BusinessMapper">

  <select id="findByLoginId" resultType="com.nextage.web.domain.BusinessDTO">
    SELECT * FROM business WHERE login_id = #{loginId} AND deleted_at IS NULL
    </select>
<!--  
    <insert id="insertBusiness">
        INSERT INTO business (login_id, password_hash, phone_number, role)
        VALUES (#{loginId}, #{passwordHash}, #{phoneNumber}, 'BUSINESS')
    </insert>

    <update id="updateBusiness">
        UPDATE business SET phone_number = #{phoneNumber}
        WHERE login_id = #{loginId} AND deleted_at IS NULL
	 </update>-->
</mapper>