<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextage.web.mapper.CustomerReviewMapper">

	<!-- review속 내용물 들고오기 -->
	<select id="getOrderItemForReview" resultType="ReviewDTO">
        SELECT 
            oi.order_item_id AS orderItemId,
            o.order_no AS orderNo,
            req.title AS requestTitle,
            oi.created_at AS startDate,
            req.requested_due_date AS endDate,
            o.business_id AS businessId,
            o.customer_id AS customerId
        FROM order_items oi
        JOIN orders o ON oi.order_id = o.order_id
        JOIN bids b ON o.bid_id = b.bid_id
        JOIN request req ON b.request_id = req.request_id
        WHERE oi.order_item_id = #{orderItemId}
          AND o.customer_id = (SELECT customer_id FROM customer WHERE login_id = #{loginId})
    </select>
	
	
</mapper>