<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextage.web.mapper.CustomerShopMapper">
	
	<!-- 갯수 맞춰 갖고오기 -->
	<select id="getKitListPaged" resultType="KitDTO">
	    SELECT * FROM kit 
	    WHERE status != 'DELETED'
	    <choose>
	        <when test="sort == 'price_desc'">
	            ORDER BY price DESC
	        </when>
	        <when test="sort == 'price_asc'">
	            ORDER BY price ASC
	        </when>
	        <otherwise>
	            ORDER BY kit_id DESC
	        </otherwise>
	    </choose>
	    LIMIT #{offset}, #{size}
	</select>
	<!--  전체 갯수 -->
	<select id="getTotalKitCount" resultType="long">
	    SELECT COUNT(*) FROM kit 
	    WHERE status != 'DELETED'
	</select>
	<!-- 게시물 하나 들고오기 -->
	<select id="getDetail" parameterType="long" resultType="KitDTO">
	    SELECT * FROM kit 
	    WHERE kit_id = #{id} AND status != 'DELETED'
	</select>
	
	<!-- 지우기 근데 결제내역에서 지워지면 안되서 status를 DELETED로 바꿔야함 -->
	<update id="deleteShop" parameterType="long">
	    UPDATE kit 
	    SET status = 'DELETED' 
	    WHERE kit_id = #{id}
	</update>
	
	<!-- 업데이트 -->
	<update id="updateKit">
		    UPDATE kit 
		    SET 
		        name = #{kitDto.name},
		        manufacturer = #{kitDto.manufacturer},
		        price = #{kitDto.price},
		        stock = #{kitDto.stock},
		        main_image1 = #{kitDto.mainImage1},
		        main_image2 = #{kitDto.mainImage2},
		        detail_image = #{kitDto.detailImage},
		        status = #{kitDto.status}
		    WHERE 
		        kit_id = #{kitDto.kitId}
		</update>
	
	
</mapper>