<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header" class="main-header-container">
        <div class="header-inner">
            <div class="header-logo">
                <a th:href="@{/business/main}">
                    <img th:src="@{/images/logo2.png}" alt="Nextage Logo" class="logo-image">
                </a>
            </div>

            <nav class="header-nav">
                <ul class="nav-list">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li>
                    	<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							  결제/배송
							</button>
							<ul class="dropdown-menu">
							  <li><a class="dropdown-item" href="#">수익/정산</a></li>
							  <li><a class="dropdown-item" href="#">주문내역</a></li>
							  <li><a class="dropdown-item" href="#">배송상태</a></li>
							</ul>
						</div>
					</li>
                    <li>
                    	<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							  마이 페이지
							</button>
							<ul class="dropdown-menu">
							  <li><a class="dropdown-item" href="#">정보수정</a></li>
							  <li><a class="dropdown-item" href="#">내 제안</a></li>
							  <li><a class="dropdown-item" href="#">내 일정</a></li>
							  <li><a class="dropdown-item" th:href="@{/business/portfolio}">내 포트폴리오</a></li>
							</ul>
						</div>
					</li>
					<li class="login-item">
			            <a th:href="@{/auth/business/loginProc}" class="login-btn">Login</a>
			        </li>
                </ul>
            </nav>
        </div>
    </header>
</html>