<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="header" class="main-header-container">
        <div class="header-inner">
            <div class="header-logo">
                 <a th:href="@{/customer/main}">
                    <img th:src="@{/images/logo.png}" alt="Nextage Logo" class="logo-image">
                </a>
            </div>

            <nav class="header-nav">
                <ul class="nav-list">
                    <li><a class="dropdown-item" th:href="@{/customer/shop}">SHOP</a></li>
                    <li><a class="dropdown-item" th:href="@{/notice}">공지사항</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              결제/배송
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" th:href="@{/customer/cart}">장바구니</a></li>
                              <!-- CADMIN: 판매 관리 -->
                              <li sec:authorize="hasRole('CADMIN')">
                                  <a class="dropdown-item" th:href="@{/customer/admin/order/history}">판매관리</a>
                              </li>
                              <!-- 일반 유저: 주문내역 -->
                              <li sec:authorize="!hasRole('CADMIN')">
                                  <a class="dropdown-item" th:href="@{/customer/order/history}">구매내역</a>
                              </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              마이페이지
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" th:href="@{/customer/mypage}" sec:authorize="hasRole('CUSER')">정보수정</a></li>
                              <li><a class="dropdown-item" href="/chat">내 채팅</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="login-item" style="position:relative; display:flex; align-items:center;">
                    	<div sec:authorize="isAuthenticated()"
						     style="position:absolute; top:100%; right:10px; margin-top:15px;
						            font-size:14px; font-weight:500; color:#aaa;
						            white-space:nowrap;">
						    반갑습니다, <span th:text="${#authentication.getPrincipal().getCustomer().getNickname()}"></span>님
						</div>
					    <a sec:authorize="isAnonymous()" th:href="@{/customer/login}" class="login-btn">Login</a>
					    <a sec:authorize="isAuthenticated()" th:href="@{/auth/customer/logoutAction}" class="login-btn">Logout</a>
					</li>
                </ul>
            </nav>
        </div>
    </header>
</html>