<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/customer-layout}">
<head>
<meta charset="UTF-8">
<title>Nextage*Customer</title>
<link rel="stylesheet" th:href="@{/css/customerMain/customerMain.css}" />
</head>
<body>
<th:block layout:fragment="content">
    <div class="customer-main-wrapper">
        
        <div class="top-banner-section">
            <div class="banner-text-area">
                <h1>Ready to Nextage?</h1>
                <button class="request-write-btn">의뢰 작성하기 <i class="bi bi-arrow-right-short"></i></button>
            </div>
            </div>

        <div class="bottom-list-section">
		    <div class="column-item">
		        <div class="title-row">
		            <h3 class="box-title">진행 중인 의뢰</h3>
		            <span class="count-info">&nbsp;</span> 
		        </div>
		        <div class="gray-display-box"></div>
		    </div>
		
		    <div class="column-item">
		        <div class="title-row">
		            <h3 class="box-title">업체 제안</h3>
		            <span class="count-info">의뢰 #건 진행 중</span>
		        </div>
		        <div class="gray-display-box"></div>
		    </div>
		</div>
    </div>
</th:block>
</body>
</html>