<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/customer-layout}"> <!-- 사용하시는 레이아웃 파일 경로로 맞추세요 -->
      
 

<head>
    <title>내 정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/mypage/cmypage.css}">
</head>

<body>
<div layout:fragment="content">

	<th:block layout:fragment="script">
	    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	    <script th:src="@{/js/joinmypage/cmypage.js}"></script>
	</th:block>
    
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="edit-wrapper text-center">
            
            <h2 class="brand-title">Customer Profile</h2>
            <p class="sub-title">내 정보 수정</p>
       

            <form action="/customer/mypage/editProc" method="post" id="editForm">
                

                <div class="form-floating mb-3 text-start">
                    <input type="text" class="form-control bg-light" id="loginId" name="loginId" th:value="${customer.loginId}" readonly>
                    <label for="loginId" class="label-required">아이디 (변경 불가)</label>
                </div>


                <div class="form-floating mb-4 text-start">
                    <input type="text" class="form-control" id="nickname" name="nickname" th:value="${customer.nickname}" required>
                    <label for="nickname" class="label-required">닉네임</label>
                </div>

    
                <div class="row g-2 mb-4">
                    <div class="col-8 form-floating text-start">
                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${customer.phoneNumber}" required>
                        <label for="phoneNumber" class="label-required" style="left: 0.25rem;">전화번호</label>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn-inline">번호 변경</button>
                    </div>
                </div>
                

                <!-- 이메일 분할 출력 -->
                <div class="row g-2 mb-3 align-items-center" 
                     th:with="emailArr=${customer.email != null ? #strings.arraySplit(customer.email, '@') : new String[]{'',''}}">
                    <div class="col-4 form-floating text-start">
                        <input type="text" class="form-control" id="email" name="email" th:value="${emailArr.length > 0 ? emailArr[0] : ''}">
                        <label for="email" class="label-optional" style="left: 0.25rem;">이메일</label>
                    </div>
                    <div class="col-auto text-center px-0" style="width: 20px; font-weight: 600; color: #888;">@</div>
                    <div class="col form-floating text-start">
                        <input type="text" class="form-control" id="emailDomain" name="emailDomain" th:value="${emailArr.length > 1 ? emailArr[1] : ''}">
                        <label for="emailDomain" class="label-optional" style="left: 0.25rem;">도메인 입력</label>
                    </div>
                    <div class="col-4">
                        <select class="form-select custom-select-center" id="domainSelect" onchange="updateDomain()">
                            <option value="type">직접입력</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="hanmail.net">hanmail.net</option>
                        </select>
                    </div>
                </div>
                
                <div th:with="addrArr=${!#strings.isEmpty(customer.address) ? #strings.arraySplit(customer.address, '#') : {}}">
    
				    <div class="row g-2 mb-3">
				        <div class="col-8 form-floating text-start">
				            <input type="text" class="form-control" id="postcode" name="postcode" 
				                   th:value="${#arrays.length(addrArr) > 0 ? addrArr[0] : ''}" readonly>
				            <label for="postcode" class="label-optional" style="left: 0.25rem;">우편번호</label>
				        </div>
				        <div class="col-4">
				            <button type="button" class="btn-inline" onclick="execDaumPostcode()">우편번호 찾기</button>
				        </div>
				    </div>

				    <div class="form-floating mb-2 text-start">

				        <input type="text" class="form-control" id="address" name="address" 
				               th:value="${#arrays.length(addrArr) > 1 ? addrArr[1] : ''}" readonly>
				        <label for="address" class="label-optional">기본 주소</label>
				    </div>
				    
				    <div class="form-floating mb-4 text-start">
				        <input type="text" class="form-control" id="addressDetail" name="addressDetail" 
				               th:value="${#arrays.length(addrArr) > 2 ? addrArr[2] : ''}">
				        <label for="addressDetail" class="label-optional">상세 주소 입력</label>
				    </div>
				    
				    
				    
                <div class="text-start mb-2 mt-2" style="border-top: 1px dashed #eee; padding-top: 1.5rem;">
                    <span style="color: #888; font-size: 0.85rem; font-weight: 600;">※ 비밀번호를 변경하시려면 아래에 입력해주세요.</span>
                </div>


                <div class="form-floating mb-3 text-start">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="새 비밀번호">
                    <label for="newPassword" class="label-required">새 비밀번호 (변경 시에만 입력)</label>
                </div>
                <div class="form-floating mb-4 text-start">
                    <input type="password" class="form-control" id="passwordCheck" placeholder="새 비밀번호 확인">
                    <label for="passwordCheck" class="label-required">새 비밀번호 확인</label>
                </div>
				    
				    
				</div>
       
                <button type="submit" class="btn btn-gradient w-100 mb-4">정보 수정하기</button>
            </form>

            <div class="text-end border-top pt-3">
                <button type="button" class="btn-withdraw" onclick="withdrawCustomer()">회원탈퇴</button>
            </div>
        </div>
    </div>

</div>




</body>
</html>